---
import WritWindow from '../../islands/WritWindow';
---
<div class="gut-col" style="padding:34px 12px 0 0; color:var(--subtle); font-size:12px">▸</div>
<div id="editor" style="padding:26px 0 20px 30px; min-width:0; scroll-margin-top:64px">
  <WritWindow client:load />
</div>
