pkgbase = writ-bin
	pkgdesc = Lightweight, always-ready text editor for developers
	pkgver = 0.4.0
	pkgrel = 1
	url = https://github.com/ibrahemid/writ
	arch = x86_64
	license = MIT
	depends = glibc
	depends = fuse2
	depends = gtk3
	depends = webkit2gtk-4.1
	optdepends = appimagelauncher: desktop integration for AppImages
	provides = writ
	conflicts = writ
	options = !strip
	source = writ-0.4.0.AppImage::https://github.com/ibrahemid/writ/releases/download/v0.4.0/Writ_0.4.0_amd64.AppImage
	source = LICENSE-0.4.0::https://github.com/ibrahemid/writ/raw/v0.4.0/LICENSE
	noextract = writ-0.4.0.AppImage
	sha256sums = 9a329379ce4b353af903284d5480d0865d9fa174d2f3c0d11eeeb2f902adbe9d
	sha256sums = SKIP

pkgname = writ-bin
